body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: #c4c6d9;
    color: white;
    }

h1 {
    text-align: center;
    font-size: 250%;

}

#main { 
    background-color: rgb(28, 55, 172);
    width: 70%;
    padding: 25px;
    box-shadow: 12px 12px 15px rgba(0,0,0,.7);
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    font-size: 150%;
  }

#calculation {
    background-color: #f5ae5d;
    color: #030303;
    width: 40%; 
    text-align: center ;
    margin: auto;
    clear: both;
    font-size: 150%;
    padding: 10px;
    box-shadow: 6px 6px 15px rgba(0,0,0,.45);
    border-radius: 15px;
  }

#income {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}
#savings {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}  
#rent {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}
#light {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}
#internet {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}
#phone {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}
#car {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}
#pet {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}
#food {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
}
#extra {
    padding: 10px;
    margin-bottom: 30px;
    border-style: groove;
    border-color: #ffffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}