body { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: #d8d9e6;
}

h1 {
    text-align: center;
    font-size: 400%;
}

.column { 
    color: white;
    background-color: #1e39a4;
    width: 70%;
    padding: 3rem;
    box-shadow: 0.75rem 0.75rem 1rem #131313;
    border-radius: 1.563rem;
    margin: auto;
    margin-top: 3.125rem;
    font-size: 150%;
    text-align: left;
  }

.row {
    padding: 0.625rem;
    border-style: groove;
    border-color: #ffffff;
    width: 45%

}

.firstchild {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.lastchild {
    margin-bottom: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.calculation{
    background-color: #f5ae5d;
    color: #030303;
    width: 40%; 
    text-align: left;
    font-size: 175%;
    padding: 1.5rem;
    box-shadow: 0rem 0.2rem 0rem #131313;
    float: right;
    margin-left: 6rem;
}
.calctop{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.calcbottom{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.description {
    background-color: white;
    color: #030303;
    width: 90%; 
    text-align: left;
    font-size: 90%;
    padding: 0.75rem;
    box-shadow: 0.2rem 0.2rem 0.7rem #131313;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

input {
    width: 96%;
    padding: 0.65rem 0.65rem;
    font-size: 90%;
    background-color:#1e39a4;
    color: white;
    outline: none;
    border: none;
}

